@use './colors' as *;

$background14: $secondary100;
$background13: $neutral600;
$background12: $secondary700;
$background11: $secondary400;
$background10: $primary800;
$background09: $neutral900;
$background08: linear-gradient($primary600, $primary800);
$background07: $neutral500;
$background06: $neutral300;
$background05: $secondary300;
$background04: $white;
$background03: $neutral400;
$background02: $neutral100;
$background01: $neutral50;