$white: #ffffff;
$black: #000000;

$primary900: #0A466E;
$primary800: #0B4D79;
$primary700: #0C5585;
$primary600: #0D5D92;
$primary500: #0E66A1;
$primary400: #0F70B1;
$primary300: #107BC3;
$primary200: #1287D6;
$primary100: #1495EB;
$primary50: #2892D2;

$secondary900: #404040;
$secondary700: #464646;
$secondary500: #555555;
$secondary400: #808080;
$secondary300: #AEAEAE;
$secondary200: #c0c0c0;
$secondary100: #D7D7D7;

$neutral900: #404040;
$neutral800: #464646;
$neutral700: #4D4D4D;
$neutral600: #555555;
$neutral500: #5D5D5D;
$neutral400: #7a7a7a;
$neutral300: #D7D7D7;
$neutral200: #EBEBEB;
$neutral100: #F5F5F5;
$neutral50: #FAFAFA;

$error900: #7D2318;
$error800: #8A271A;
$error700: #982B1D;
$error600: #A72F20;
$error500: #B83423;
$error300: #cc4332;
$error200: #be695e;
$error100: #E0978E;
$error50: #F0CBC7;

$success900: #0F5F2D;
$success800: #106932;
$success700: #127337;
$success600: #147E3C;
$success500: #168B42;
$success200: #189949;
$success100: #8CCCA4;
$success50: #C6E6D2;

$warning900: #653600;
$warning800: #814600;
$warning700: #B96400;
$warning600: #D57300;
$warning500: #FFAA46;
$warning100: #FFD9A0;
$warning50: #FFF1DB;

$info900: #1C303B;
$info800: #0A496A;
$info700: #005583;
$info600: #0067AA;
$info500: #2977D1;
$info100: #BAEBF5;
$info50: #E9F9FB;