@use './colors' as *;

$contentInverse: $white;
$contentDisable: $neutral400;
$contentDefault: $neutral900;
$contentSecondary: $neutral800;
$contentTertiary: $secondary900;
$contentPlaceholder: $neutral500;
$contentLight: $neutral600;