@use './colors' as *;
@use './border-radius' as *;
@use './spacing' as *;
@use './typography' as *;
@use './spacing' as *;

// Color map
$color-map: (
  "primary": $primary100,
  "secondary": $secondary700,
  "tertiary": $secondary100,
  "error": $error500,
  "success": $success500,
  "default": $secondary400,
  "disabled": $secondary100,
);

$color-dark-map: (
  "primary": $primary50,
  "secondary": $secondary400,
  "error": $error300,
  "success": $success200,
  "default": $secondary100,
  "disabled": $secondary500,
);

// Spacing map
$spacing-map: (
  "50": $spacing50,
  "100": $spacing100,
  "200": $spacing200,
  "300": $spacing300,
  "400": $spacing400,
  "500": $spacing500,
  "600": $spacing600,
  "700": $spacing700,
  "800": $spacing800,
  "900": $spacing900,
);


// Button tokens
$button-bg-color: $neutral700;
$button-border-size: 1px;
$button-padding: $spacing200 $spacing300;
$button-border-radius: $borderRadius300;
$button-gap: $spacing100;
$button-font-size: $fontSize300;
$button-line-height: $lineHeight100;

$button-disabled-bg-color: $neutral600;
$button-disabled-color: $neutral300;
$button-disabled-dark-bg-color: $neutral600;
$button-disabled-dark-color: $neutral500;
$button-focus-color: $primary600;

// Button Primary
$button-primary-bg-color: $primary300;
$button-primary-color: $white;
$button-primary-hover : $primary700;
$button-primary-active: $primary700;
$button-primary-focus: $primary700;

// Button Secondary
$button-secondary-bg-color: $secondary100;
$button-secondary-color: $secondary500;
$button-secondary-hover : $secondary300;
$button-secondary-active: $secondary300;
$button-secondary-focus: $secondary300;

// Button Tertiary
$button-tertiary-bg-color: transparent;
$button-tertiary-color: $secondary400;
$button-tertiary-hover : $secondary900;
$button-tertiary-active: $secondary900;
$button-tertiary-focus: transparent;

// Button Danger
$button-danger-bg-color: $error500;
$button-danger-color: $white;
$button-danger-hover : $error700;
$button-danger-active: $error700;
$button-danger-focus: $error600;

// Button Success
$button-success-bg-color: $success500;
$button-success-color: $white;
$button-success-hover : $success700;
$button-success-active: $success700;
$button-success-focus: $success600;

// Button Icon Only
$button-icon-only-bg-color: transparent;
$button-icon-only-color: $secondary400;
$button-icon-only-hover : $secondary900;
$button-icon-only-active: $secondary900;
$button-icon-only-focus: transparent;

// Button Primary Dark
$button-primary-dark-bg-color: $primary200;
$button-primary-dark-color: $white;
$button-primary-dark-hover : $primary100;
$button-primary-dark-active: $primary100;
$button-primary-dark-focus: $primary100;

// Button Secondary Dark
$button-secondary-dark-bg-color: $secondary200;
$button-secondary-dark-color: $secondary700;
$button-secondary-dark-hover : $secondary100;
$button-secondary-dark-active: $secondary100;
$button-secondary-dark-focus: $secondary100;

// Button Tertiary Dark
$button-tertiary-dark-bg-color: transparent;
$button-tertiary-dark-color: $secondary300;
$button-tertiary-dark-hover : $secondary100;
$button-tertiary-dark-active: $secondary100;
$button-tertiary-dark-focus: transparent;

// Button Danger Dark
$button-danger-dark-bg-color: $error500;
$button-danger-dark-color: $white;
$button-danger-dark-hover : $error300;
$button-danger-dark-active: $error300;
$button-danger-dark-focus: $error300;

// Button Success Dark
$button-success-dark-bg-color: $success500;
$button-success-dark-color: $white;
$button-success-dark-hover : $success200;
$button-success-dark-active: $success200;
$button-success-dark-focus: $success200;

// Button Icon Only
$button-icon-only-dark-bg-color: transparent;
$button-icon-only-dark-color: $secondary300;
$button-icon-only-dark-hover : $secondary100;
$button-icon-only-dark-active: $secondary100;
$button-icon-only-dark-focus: transparent;




// Input
$input-label-color: $secondary500;
$input-border: $secondary300;
$input-error-border-color: $error500;
$input-disabled-bg-color: $secondary100;


// Alert
$alert-success-color: $success500;
$alert-success-bg-color: white;
$alert-success-border-color: $success500;
$alert-error-color: $error700;
$alert-error-bg-color: white;
$alert-error-border-color: $error700;


// Badge
$badge-bg-color: $neutral500;


// Dropdown
$dropdown-item-color: $secondary500;
$dropdown-item-hover-bg-color: $secondary300;


// Modal

$modal-header-border-color: $neutral400;
$modal-title-color: $secondary700;


// Block

$block-card-border-color: $neutral400;
$block-card-color: $neutral700;
$block-card-dark-color: $neutral100;
$block-card-dark-background: $neutral700;
