$zindex100: 100; //dropdown
$zindex200: 200; //sticky
$zindex300: 300; //fixed
$zindex400: 400; //offcanvas-backdrop
$zindex500: 500; //offcanvas
$zindex600: 600; //Modal-backdrop
$zindex700: 700; //Modal
$zindex800: 800; //popover
$zindex900: 900; //tooltip