@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$fontOpenSans: 'Open Sans'!default;

$white: #ffffff;
$black: #000000;

$primary900: #0A466E;
$primary800: #0B4D79;
$primary700: #0C5585;
$primary600: #0D5D92;
$primary500: #0E66A1;
$primary400: #0F70B1;
$primary300: #107BC3;
$primary200: #1287D6;
$primary100: #1495EB;
$primary50: #2892D2;

$secondary900: #404040;
$secondary700: #464646;
$secondary500: #555555;
$secondary400: #808080;
$secondary300: #AEAEAE;
$secondary200: #c0c0c0;
$secondary100: #D7D7D7;

$neutral900: #0F1113;
$neutral800: #16191C;
$neutral700: #1D2125;
$neutral600: #2C2F33;
$neutral500: #56595C;
$neutral400: #8E9092;
$neutral300: #C7C8C9;
$neutral200: #d8d9da;
$neutral100: #F5F5F5;
$neutral50: #FAFAFA;

$error900: #7D2318;
$error800: #8A271A;
$error700: #982B1D;
$error600: #A72F20;
$error500: #B83423;
$error300: #cc4332;
$error200: #be695e;
$error100: #E0978E;
$error50: #F0CBC7;

$success900: #0F5F2D;
$success800: #106932;
$success700: #127337;
$success600: #147E3C;
$success500: #168B42;
$success200: #189949;
$success100: #8CCCA4;
$success50: #C6E6D2;

$warning900: #653600;
$warning800: #814600;
$warning700: #B96400;
$warning600: #D57300;
$warning500: #FFAA46;
$warning100: #FFD9A0;
$warning50: #FFF1DB;

$info900: #1C303B;
$info800: #0A496A;
$info700: #005583;
$info600: #0067AA;
$info500: #2977D1;
$info100: #BAEBF5;
$info50: #E9F9FB;

$border01: $primary600;
$border02: $white;
$border03: $neutral300;
$border04: $neutral200;
$border05: $primary50;
$border06: $secondary400;

$borderRadius50: 0px;
$borderRadius100: 2px;
$borderRadius300: 4px;
$borderRadius500: 6px;
$borderRadius700: 8px;
$borderRadius900: 50%;

$spacing50: 2px;
$spacing100: 4px;
$spacing150: 6px;
$spacing200: 8px;
$spacing250: 10px;
$spacing300: 12px;
$spacing350: 14px;
$spacing400: 16px;
$spacing450: 18px;
$spacing500: 20px;
$spacing550: 22px;
$spacing600: 24px;
$spacing650: 28px;
$spacing700: 32px;
$spacing750: 36px;
$spacing800: 40px;
$spacing850: 48px;
$spacing900: 56px;
$spacing950: 64px;

// Font size

$fontSize100: 10px;
$fontSize200: 12px;
$fontSize300: 14px;
$fontSize400: 16px;
$fontSize500: 20px;
$fontSize600: 24px;
$fontSize700: 29px;
$fontSize800: 35px;
$fontSize900: 42px;

// Line Height

$lineHeight50: 16px;
$lineHeight100: 20px;
$lineHeight300: 24px;
$lineHeight500: 28px;
$lineHeight700: 36px;
$lineHeight900: 40px;
$lineHeight950: 48px;

// Font Weight

$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;

$color-map: (
  "primary": $primary100,
  "secondary": $secondary700,
  "tertiary": $secondary100,
  "error": $error500,
  "success": $success500,
  "default": $secondary400,
  "disabled": $secondary100,
);

$color-dark-map: (
  "primary": $primary50,
  "secondary": $secondary400,
  "error": $error300,
  "success": $success200,
  "default": $secondary100,
  "disabled": $secondary500,
);

$spacing-map: (
  "50": $spacing50,
  "100": $spacing100,
  "200": $spacing200,
  "300": $spacing300,
  "400": $spacing400,
  "500": $spacing500,
  "600": $spacing600,
  "700": $spacing700,
  "800": $spacing800,
  "900": $spacing900,
);


// Button tokens
$button-bg-color: $neutral700;
$button-border-size: 1px;
$button-padding: $spacing200 $spacing300;
$button-border-radius: $borderRadius300;
$button-gap: $spacing100;
$button-font-size: $fontSize300;
$button-line-height: $lineHeight100;

$button-disabled-bg-color: $neutral600;
$button-disabled-color: $neutral300;
$button-disabled-dark-bg-color: $neutral600;
$button-disabled-dark-color: $neutral500;
$button-focus-color: $primary600;

// Button Primary
$button-primary-bg-color: $primary300;
$button-primary-color: $white;
$button-primary-hover : $primary700;
$button-primary-active: $primary700;
$button-primary-focus: $primary700;

// Button Secondary
$button-secondary-bg-color: $secondary100;
$button-secondary-color: $secondary500;
$button-secondary-hover : $secondary300;
$button-secondary-active: $secondary300;
$button-secondary-focus: $secondary300;

// Button Tertiary
$button-tertiary-bg-color: transparent;
$button-tertiary-color: $secondary400;
$button-tertiary-hover : $secondary900;
$button-tertiary-active: $secondary900;
$button-tertiary-focus: transparent;

// Button Danger
$button-danger-bg-color: $error500;
$button-danger-color: $white;
$button-danger-hover : $error700;
$button-danger-active: $error700;
$button-danger-focus: $error600;

// Button Success
$button-success-bg-color: $success500;
$button-success-color: $white;
$button-success-hover : $success700;
$button-success-active: $success700;
$button-success-focus: $success600;

// Button Icon Only
$button-icon-only-bg-color: transparent;
$button-icon-only-color: $secondary400;
$button-icon-only-hover : $secondary900;
$button-icon-only-active: $secondary900;
$button-icon-only-focus: transparent;

// Button Primary Dark
$button-primary-dark-bg-color: $primary200;
$button-primary-dark-color: $white;
$button-primary-dark-hover : $primary100;
$button-primary-dark-active: $primary100;
$button-primary-dark-focus: $primary100;

// Button Secondary Dark
$button-secondary-dark-bg-color: $secondary200;
$button-secondary-dark-color: $secondary700;
$button-secondary-dark-hover : $secondary100;
$button-secondary-dark-active: $secondary100;
$button-secondary-dark-focus: $secondary100;

// Button Tertiary Dark
$button-tertiary-dark-bg-color: transparent;
$button-tertiary-dark-color: $secondary300;
$button-tertiary-dark-hover : $secondary100;
$button-tertiary-dark-active: $secondary100;
$button-tertiary-dark-focus: transparent;

// Button Danger Dark
$button-danger-dark-bg-color: $error500;
$button-danger-dark-color: $white;
$button-danger-dark-hover : $error300;
$button-danger-dark-active: $error300;
$button-danger-dark-focus: $error300;

// Button Success Dark
$button-success-dark-bg-color: $success500;
$button-success-dark-color: $white;
$button-success-dark-hover : $success200;
$button-success-dark-active: $success200;
$button-success-dark-focus: $success200;

// Button Icon Only
$button-icon-only-dark-bg-color: transparent;
$button-icon-only-dark-color: $secondary300;
$button-icon-only-dark-hover : $secondary100;
$button-icon-only-dark-active: $secondary100;
$button-icon-only-dark-focus: transparent;

// Input
$input-label-color: $secondary500;
$input-border: $secondary300;
$input-error-border-color: $error500;
$input-disabled-bg-color: $secondary100;
$input-dark-border-color: $secondary300;
$input-dark-color: $secondary300;

// Alert
$alert-success-color: $success500;
$alert-success-bg-color: white;
$alert-success-border-color: $success500;
$alert-error-color: $error700;
$alert-error-bg-color: white;
$alert-error-border-color: $error700;

// Badge
$badge-bg-color: $neutral500;

// Dropdown
$dropdown-item-color: $secondary500;
$dropdown-item-hover-bg-color: $secondary300;


// Modal
$modal-header-border-color: $neutral400;
$modal-title-color: $secondary700;


// Block
$block-card-border-color: $neutral400;
$block-card-color: $neutral700;
$block-card-dark-color: $neutral100;
$block-card-dark-background: $neutral700;

html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fontOpenSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 14px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

i {
  font-style: normal;
}
