@use '../variables/globals' as *;
@use '../variables/colors' as *;
@use '../variables/icons' as *;
@use '../variables/content' as *;
@use '../variables/semantic' as *;

.#{$namespace}white {color: $white}

// primary
$primary-map: (
	"50": $primary50,
	"100": $primary100,
	"200": $primary200,
	"300": $primary300,
	"400": $primary400,
	"500": $primary500,
	"600": $primary600,
	"700": $primary700,
	"800": $primary800,
	"900": $primary900,
);

@each $key, $val in ($primary-map) {
	.#{$namespace}primary#{$key} {
		color: $val;
	}
}

.#{$namespace}white {
	color: white;
}
