@use '../variables/globals' as *;
@use '../variables/colors' as *;
@use '../variables/border-radius' as *;

.#{$namespace}elevation-01 {
	background: $white;
	border: 1px solid $neutral100;
	border-radius: $borderRadius700;
	box-shadow: 0px 4px 15px rgba(128, 128, 128, 0.25);
}