@use '../variables/globals' as *;
@use "../variables/typography" as *;
@use "../variables/colors" as *;
@use "../mixins/typography" as *;

.#{$namespace}font-capitalize {
	text-transform: capitalize;
}

// Font Size classes
$size-map: (
	"100": $fontSize100,
	"200": $fontSize200,
	"300": $fontSize300,
	"400": $fontSize400,
	"500": $fontSize500,
	"600": $fontSize600,
	"700": $fontSize700,
	"800": $fontSize800,
	"900": $fontSize900,
);

@each $key, $val in ($size-map) {
	.#{$namespace}font-size-#{$key} {
		font-size: $val;
	}
}

$line-height-map: (
	"100": $lineHeight100,
	"300": $lineHeight300,
	"500": $lineHeight500,
	"700": $lineHeight700,
	"900": $lineHeight900,
	"950": $lineHeight950,
);

@each $key, $val in ($line-height-map) {
	.#{$namespace}line-height-#{$key} {
		line-height: $val;
	}
}

$weight-map: (
	"regular": $fontRegular,
	"semibold": $fontSemiBold,
	"bold": $fontBold,
);

@each $key, $val in ($weight-map) {
	.#{$namespace}font-#{$key} {
		font-weight: $val;
	}
}

$heading-map: "h1", "h2", "h3", "h4", "h5";

@each $key in ($heading-map) {
	.#{$namespace}#{$key} {
		color: $neutral900;
		@include generate-type($key);
		&-semibold {
			@extend .#{$namespace}#{$key};
			font-weight: $fontSemiBold;
		}
		&-bold {
			@extend .#{$namespace}#{$key};
			font-weight: $fontBold;
		}
	}
}

$body-map: "large" , "medium", "small";

@each $key in ($body-map) {
	.#{$namespace}body-#{$key} {
		color: $neutral800;
		@include generate-type($key);
		&-regular {
			@extend .#{$namespace}body-#{$key};
			font-weight: $fontRegular;
		}
		&-semibold {
			@extend .#{$namespace}body-#{$key};
			font-weight: $fontSemiBold;
		}
		&-bold {
			@extend .#{$namespace}body-#{$key};
			font-weight: $fontBold;
		}
	}
}

// Link

.#{$namespace}link-medium {
	@include generate-type("medium");
	&-regular {
		@extend .#{$namespace}link-medium;
		font-weight: $fontRegular;
	}
	&-semibold {
		@extend .#{$namespace}link-medium;
		font-weight: $fontSemiBold;
	}
}