@use '../assets/scss/variables/colors' as *;

.text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.error {
  color: $error500;
}

.success {
  color: $success500;
}

.disabled {
  color: $secondary100;
}

.primary {
  color: $primary100;
}

.secondary {
  color: $secondary700;
}

.default {
  color: $secondary400;
}

.bold {
  font-weight: bold;
}

.s {
  font-size: var(--size-s);
}

.m {
  font-size: var(--size-m);
}

.l {
  font-size: var(--size-l);
}

.xl {
  font-size: var(--size-xl);
}
