.block {
  display: flex;
  gap: 0;
}

.card {
  background: white;
  color: var(--color-secondary-dark);
  border-radius: 6px;
}

.s {
  gap: var(--size-s);
}

.m {
  gap: var(--size-m);
}

.l {
  gap: var(--size-l);
}

.xl {
  gap: var(--size-xl);
}

.column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-1 {
  flex: 1
}

.flex-2 {
  flex: 2
}

.flex-3 {
  flex: 3
}

