@use '../assets/scss/variables/theme' as *;

$justify-map: (
        "justify-flex-start": "flex-start",
        "justify-flex-end": "flex-end",
        "justify-center": "center",
        "justify-space-between": "space-between",
        "justify-space-around": "space-around",
        "justify-space-evenly": "space-evenly"
);

$align-map: (
        "align-flex-start": "flex-start",
        "align-flex-end": "flex-end",
        "align-center": "center"
);

.block {
  display: flex;
  gap: 0;
}

.stretch {
  > * {
    flex: 1;
  }
}

@each $key, $val in ($spacing-map) {
  .gap-#{$key} {
    gap: $val;
  }
}

@for $size from 1 through 12 {
  .flex-#{$size} {
    flex: $size;
  }
}

@each $justKey, $justVal in ($justify-map) {
  .#{$justKey} {
    justify-content: #{$justVal};
  }
}

@each $alKey, $alVal in ($align-map) {
  .#{$alKey} {
    align-items: #{$alVal};
  }
}

.block-card {
  background: white;
  color: $block-card-color;
  border-radius: 6px;
  border: 1px solid $block-card-border-color;
}

.block-dark-card {
  background: $block-card-dark-background;
  color: $block-card-dark-color;
  border-radius: 6px;
  border: 1px solid $block-card-border-color;
}

.column {
  flex-direction: column;
}
