@use '../assets/scss/variables/theme' as *;

$button-variant-map: (
  (
    "primary",
    $button-primary-bg-color,
    $button-primary-color,
    $button-primary-hover,
    $button-primary-active,
    $button-primary-focus,
  ),
  (
    "secondary",
    $button-secondary-bg-color,
    $button-secondary-color,
    $button-secondary-hover,
    $button-secondary-active,
    $button-secondary-focus,
  ),
  (
    "inverse",
    $button-inverse-bg-color,
    $button-inverse-color,
    $button-inverse-hover,
    $button-inverse-active,
    $button-inverse-focus,
  ),
  (
    "danger",
    $button-danger-bg-color,
    $button-danger-color,
    $button-danger-hover,
    $button-danger-active,
    $button-danger-focus,
  )
);

.button {
  background-color: $button-bg-color;
  border: $button-border-size solid transparent;
  cursor: pointer;
  padding: $button-padding;
  border-radius: $button-border-radius;
  transition: all .3s;
  display: flex;
  flex-direction: row;
  gap: $button-gap;
  align-items: center;
  font-size: $button-font-size;
  line-height: $button-line-height;
}

@each $name, $bgColor, $color, $hover, $active, $focus in ($button-variant-map) {
  .button-#{$name} {
    background-color: #{$bgColor};
    color: #{$color};
    &:hover {
      color: #{$color};
      @if (#{$name} == "inverse") {
        border-color: $hover;
      } @else {
        background-color: #{$hover};
      }
    }
    &:active {
      background-color: #{$active};
    }
    &:disabled {
      @if (#{$name} == "inverse") {
        background-color: transparent;
      } @else {
        background-color: $button-disabled-bg-color;
      }
      color: $button-disabled-color;
      cursor: default;
    }
    &:focus {
      background-color: #{$focus};
      border-color: $button-focus-color;
      color: #{$color};
    }
  }
}


