@use '../assets/scss/theme' as *;

$button-variant-map: (
  (
    "primary",
    $button-primary-bg-color,
    $button-primary-color,
    $button-primary-hover,
    $button-primary-active,
    $button-primary-focus,
  ),
  (
    "secondary",
    $button-secondary-bg-color,
    $button-secondary-color,
    $button-secondary-hover,
    $button-secondary-active,
    $button-secondary-focus,
  ),
  (
    "tertiary",
    $button-tertiary-bg-color,
    $button-tertiary-color,
    $button-tertiary-hover,
    $button-tertiary-active,
    $button-tertiary-focus,
  ),
  (
    "danger",
    $button-danger-bg-color,
    $button-danger-color,
    $button-danger-hover,
    $button-danger-active,
    $button-danger-focus,
  ),
  (
    "success",
    $button-success-bg-color,
    $button-success-color,
    $button-success-hover,
    $button-success-active,
    $button-success-focus,
  ),
  (
    "icon-only",
    $button-icon-only-bg-color,
    $button-icon-only-color,
    $button-icon-only-hover,
    $button-icon-only-active,
    $button-icon-only-focus,
  )
);

$button-dark-variant-map: (
  (
    "primary",
    $button-primary-dark-bg-color,
    $button-primary-dark-color,
    $button-primary-dark-hover,
    $button-primary-dark-active,
    $button-primary-dark-focus,
  ),
  (
    "secondary",
    $button-secondary-dark-bg-color,
    $button-secondary-dark-color,
    $button-secondary-dark-hover,
    $button-secondary-dark-active,
    $button-secondary-dark-focus,
  ),
  (
    "tertiary",
    $button-tertiary-dark-bg-color,
    $button-tertiary-dark-color,
    $button-tertiary-dark-hover,
    $button-tertiary-dark-active,
    $button-tertiary-dark-focus,
  ),
  (
    "danger",
    $button-danger-dark-bg-color,
    $button-danger-dark-color,
    $button-danger-dark-hover,
    $button-danger-dark-active,
    $button-danger-dark-focus,
  ),
  (
    "success",
    $button-success-dark-bg-color,
    $button-success-dark-color,
    $button-success-dark-hover,
    $button-success-dark-active,
    $button-success-dark-focus,
  ),
  (
    "icon-only",
    $button-icon-only-dark-bg-color,
    $button-icon-only-dark-color,
    $button-icon-only-dark-hover,
    $button-icon-only-dark-active,
    $button-icon-only-dark-focus,
  )
);

.button {
  background-color: $button-bg-color;
  border: $button-border-size solid transparent;
  cursor: pointer;
  padding: $button-padding;
  border-radius: $button-border-radius;
  transition: all .3s;
  display: flex;
  flex-direction: row;
  gap: $button-gap;
  align-items: center;
  font-size: $button-font-size;
  line-height: $button-line-height;
}


@mixin generateButtonVariants ($name, $bgColor, $color, $hover, $active, $focus, $dark) {
  .button#{$dark}-#{$name} {
    background-color: $bgColor;
    color: $color;
    @if ($name == "icon-only") {
      padding: 4px;
      margin-top: auto;
      margin-bottom: auto;
    }
    div svg {
      fill: $color;
    }
    div i {
      color: $color;
    }
    @if ($name == "tertiary") {
      border-color: $color;
    }
    &:hover {
      color: $color;
      @if ($name == "tertiary") {
        border-color: $hover;
        color: $hover;
      } @else if ($name == "icon-only") {
        border-color: $hover;
        color: $hover;
      } @else {
        background-color: $hover;
      }
    }
    &:active {
      background-color: $active;
      @if ($name == "tertiary") {
        background-color: transparent;
      }
    }
    &:disabled {
      border-color: transparent;
      color: $button-disabled-color;
      cursor: default;
      @if ($name == "tertiary") {
        background-color: transparent;
        @if ($dark == "-dark") {
          color: $button-disabled-dark-color;
          border-color: $button-disabled-dark-color;
        } @else {
          color: $button-disabled-color;
          border-color: $button-disabled-color;
        }
      } @else {
        background-color: $button-disabled-bg-color;
      }
    }
  }
}

@each $name, $bgColor, $color, $hover, $active, $focus in ($button-variant-map) {
    @include generateButtonVariants($name, $bgColor, $color, $hover, $active, $focus, "");
}

@each $name, $bgColor, $color, $hover, $active, $focus in ($button-dark-variant-map) {
  @include generateButtonVariants($name, $bgColor, $color, $hover, $active, $focus, "-dark");
}

