@use '../assets/scss/variables/theme' as *;


label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $input-label-color;
  font-size: 14px;
}

input {
  padding: 8px;
  border: 1px solid $input-border;
  border-radius: 4px;
}

.error {
  border-color: $input-error-border-color;
}

input[disabled] {
  background-color: $input-disabled-bg-color;
  cursor: not-allowed;
}
