label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

input {
  padding: 8px;
  border-radius: 4px;
}

.base {
  border : 1px solid #000;
  padding : 8px 12px;
  border-radius: 4px;
  width : 100%;
}

input[disabled] {
  border : 1px solid #ccc;
  cursor: not-allowed;
}
