.badge {
  display: flex;
  align-items: center;
  width: fit-content;
}

.default {
  border-radius: 8px;
  font-size: 9px;
  padding: 0 6px;
  line-height: 16px;
  background: black;
  color: white;
}